.card-body {
  padding: 0.5rem;
}

.read-more-button {
  padding-left: 0;
  padding-right: 0;
}


.Transparent {
  background-color: rgba(0, 0, 0, 0);
  /* border: 1px solid black; */
  border: none;
}

.SocialMediaCardBody {
  padding-left: 0;
}

#top-navbar {
  height: 50px;
}

#tree-container {
  padding-left: 0;
  padding-right: 0;
}

.strava-icon {
  width: 10px;
}

/* NOTE: Height of navbar is hardcoded here! */
.MaxHeightMinusNavbar {
  height: calc(100vh - 50px);
}

.outlined {
  border-top: 1px solid black;
}
