@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

h1, h2, h3, h4, h5, h6, p, li {
  line-height: 1.7em;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

/* Reserved for putting dates at the top of essays. */
h4 {
  font-size: 12px;
  font-family: 'Roboto Mono', 'Roboto', 'sans-serif';
  color: gray;
}

a {
  color: rgb(0, 50, 210);
}

body {
  font-family: 'Crimson Pro', 'Roboto', 'serif';
  font-weight: 400;
  font-size: 20px;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Preformatted code blocks in blog posts. */
pre code {
  font-family: 'Roboto Mono', monospace, 'sans-serif';
  font-size: 12px;
}

.mono-font {
  font-family: 'Roboto Mono', 'monospace', 'sans-serif';
}

.navbar-font {
  font-family: 'Roboto', 'sans-serif';
  font-weight: bold;
  font-size: 14px;
}

.font-blue {
  color: rgb(0, 50, 210);
}

.project-title-text {
  font-size: 12px;
  font-weight: bold;
  line-height: 150%;
  vertical-align: middle;
  /* font-family: "Roboto"; */
}

.hello-text {
  font-size: 14px;
}

.section-heading-text {
  font-family: 'Roboto', 'sans-serif';
  font-size: 20px;
  font-weight: bold;
}

.text-small {
  font-size: 10px;
}

.card-header {
  background-color: white;
}

.card-body {
  background-color: white;
}

.card-link {
  font-size: 12px;
  font-family: 'Roboto Mono', 'monospace';
}
