@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.7em;
}

a {
  color: rgb(0, 50, 210);
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mono-font {
  font-family: 'Roboto Mono', 'monospace';
}

.font-blue {
  color: rgb(0, 50, 210);
}

.project-title-text {
  font-size: 12px;
  font-weight: bold;
  line-height: 150%;
  vertical-align: middle;
  /* font-family: "Roboto"; */
}

.hello-text {
  font-size: 14px;
}

.section-heading-text {
  font-size: 14px;
  font-weight: 800;
}

.text-small {
  font-size: 10px;
}

.card-header {
  background-color: white;
}

.card-body {
  background-color: white;
}

.card-link {
  font-size: 12px;
  font-family: 'Roboto Mono', 'monospace';
}
