@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=IBM+Plex+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


body {
  font-family: 'IBM Plex Sans', 'Roboto', 'serif';
  font-weight: thin;
  font-size: 16px;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* DEFINE VARIABLES HERE */
  --mk--green: #00A693;
}

h1, h2, h3, h4, h5, h6, p, li {
  line-height: 1.7em;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'IBM Plex Sans Condensed', 'Roboto', 'sans-serif';
}

h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'IBM Plex Sans Condensed', 'Roboto', 'sans-serif';
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'IBM Plex Sans Condensed', 'Roboto', 'sans-serif';
}

/* NOTE: Reserved for putting dates at the top of essays. */
h4 {
  font-size: 16px;
  font-family: 'IBM Plex Mono', 'Roboto Mono', monospace, 'sans-serif';
  color: gray;
}

/* Preformatted code blocks in blog posts. */
pre code {
  font-family: 'IBM Plex Mono', 'Roboto Mono', monospace, 'sans-serif';
  font-size: 12px;
}

.mono-font {
  font-family: 'IBM Plex Mono', 'Roboto Mono', 'monospace', 'sans-serif';
}

.navbar-font {
  font-family: 'IBM Plex Sans Condensed', 'Roboto', 'sans-serif';
  font-weight: thin;
  font-size: 16px;
}

.mk--green {
  color: var(--mk--green);
}

/* Make links this color of blue. */
a {
  color: var(--mk--green);
}

a:hover {
  color: black;
}

.project-title-text {
  font-size: 12px;
  font-weight: bold;
  line-height: 150%;
  vertical-align: middle;
}

.hello-text {
  font-size: 14px;
}

.section-heading-text {
  font-family: 'IBM Plex Sans Condensed', 'Roboto', 'sans-serif';
  font-size: 20px;
  font-weight: bold;
}

.text-small {
  font-size: 10px;
}

.card-header {
  background-color: white;
}

.card-body {
  background-color: white;
}

.card-link {
  font-size: 12px;
  font-family: 'IBM Plex Mono', 'Roboto Mono', 'monospace';
}
